@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 17px;
	line-height: 1.5;
	color: #000;
}

.bgwrapper {
	background-color: #fafaf0;
}

h1 {
	font-family: "Kristopher", serif;
	font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro";
	font-weight: 600;
}

.fixed {
	font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.dp-highlighter,
.label {
	font-family: "Source Code Pro", monospace;
}

.footdiv a {
	color: rgb(9, 61, 65);
	font-weight: 600;
	background-image: none;
	padding: 0;
}

.footdiv .nxtlink::after {
	content: " \2192";
	padding-left: 0.5rem;
}

.footdiv .prevlink::before {
	content: "\2190 ";
	padding-right: 0.5rem;
}

.chapters > li,
.chapters > li > ul,
.chapters li > ul > li, 
.chapters li > ul > li > a {
  font-size: 17px;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

.chapters > li {
  font-weight: 600;
}

/* Dark Theme */

body {
	color: #fdfdfd;
}

.bgwrapper {
	background: #212121
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fdfdfd;
}

a {
	color: #fdfdfd;
}

a:visited {
	color: #999;
}

.fixed {
  background: #000;
  border: 2px solid #555;
  border-radius: 5px;
}

.hintbox {
	background: #434343;
}

.hintbox .fixed {
	background: #212121;
}

.dp-highlighter {
  border: 2px solid #333333;
  border-radius: 5px;
}

.footdiv a {
	color: #fdfdfd;
}

.introcontent {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1d971c9f-0f6b-4a6c-b456-a0eefe06bfab/de7641d-8482ab26-ea55-49df-84a9-6be7f10e5593.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMWQ5NzFjOWYtMGY2Yi00YTZjLWI0NTYtYTBlZWZlMDZiZmFiXC9kZTc2NDFkLTg0ODJhYjI2LWVhNTUtNDlkZi04NGE5LTZiZTdmMTBlNTU5My5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.B7a58Yw1HspXlp_iEPMkpt1W3FVMN63y8MOqz3v8KhI")
}

.chapters > li,
.chapters > li > ul,
.chapters li > ul > li, 
.chapters li > ul > li > a {
	color: #fdfdfd;
}

::selection {
  background-color: #9b5e0f;
}